<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>
    <button><a href="/book_list/{{object.id}}/update/">Изменить</a> </button>
    <button><a href="/book_list/{{object.id}}/delete/">Удалить</a> </button>
    <h1>Детальная информация</h1>
    <h2>{{object.title}}</h2>
    <p>{{object.description}}</p>
    <img src="{{object.image.url}}" alt="book_title" width="400" style="margin-right:60px; margin-left:50px;">   <iframe src="{{object.video}}" frameborder="0" width="600" height="400" ></iframe>
    <p>{{object.actuality}}</p>
    <p>{{object.created_date}}</p>
    <p>{{object.created_at}}</p>

 <table border="2">
        <tr>
            <th>Дата создания отзыва</th> <th>Комент</th> <th>Оценка</th>
        </tr>

        {% for i in book_key.review_object.all %}
        <tr>
            <td>{{i.created_at}}</td> <td>{{i.text_review}}</td> <td>{{i.rate_stars}}</td>
        </tr>
        {% endfor %}

    </table>
</body>
</html>